<!DOCTYPE html>
<html>
<head>
    <!-- Include Angular and several angular libraries -->
    <script src="modules/angular.min.js"></script>
    <script src="modules/angular-route.js"></script>
    <!-- Include our app -->
    <script src="js/app.js"></script>

    
    </head>
<body>

<div id="header">
<span class="logo">CN-Search</span>
</div>
    
<title>Deep Learning Image retriever!</title>
    

<div ng-app = "myApp">

<a href="#/!" ng-click="up = false">List</a>
<a href="#!search" ng-click="up = false">Search</a>
<a href="#" ng-click="up = !up">Upload</a>
<a href="" ng-click="explore_var = !explore_var; console.log(explore_var);">Explore</a> {{explore_var}}

    
<div ng-include="'upload.htm'" ng-show="up"></div>
<div ng-view></div>   
    
    

</div>

</body>
</html> 