<!DOCTYPE html>
<html>
<head>
    <!-- Include Angular and several angular libraries -->
    <script src="modules/angular.min.js"></script>
    <script src="modules/angular-route.js"></script>
    <script src="modules/angular-animate.js"></script>
    <!-- Include our app -->
    <script src="js/app.js"></script>

    <!-- Include CSS style -->
    <link href="css/base.css" rel="stylesheet">
    
    </head>
<body>

<div ng-app = "myApp" ng-controller='mainCtrl'>
<div id="header">
<span class="logo">CN-Search</span>

    
<title>CN-Search</title>
    


<ul class="menu">
<li ng-class=""><a href="" ng-click="moreImages()"><span class="tooltip">Pictures
  <span class="tooltiptext">Click to show more random pictures.</span>
</span></a></li>
<li ng-class="selectedB" ng-controller="queryCtrl"><a href="" ng-click="clickUpload()"><span class="tooltip">Search
  <span class="tooltiptext">Load a pictures from your device, then retrieve the similar ones.</span>
</span></a></li>
<li ng-class="selectedD"><a href="" ng-click="b_up = false; up = !up; deselectAll(); (up ? selectedD = 'selected' : selectedD = '');"><span class="tooltip">Share
  <span class="tooltiptext">Share with others your picture.</span>
</span></a></li>
<li ng-class="selectedC"><a href="" ng-click="explore_var = !explore_var; clickExplore();"><span class="tooltip">{{ exploreMenu }}
  <span class="tooltiptext">This is an On/Off mode: once activated, click on a picture to search and explore what is similar.</span>
</span></a></li>

</ul>

<span class="user">A Deep Learning-based image search engine.</span>
    
    
</div>
    
<div id="content">
<span ng-include="'upload.htm'" ng-hide="!up"></span>
<span ng-include="'search.htm'" ng-hide="!selectedB"></span><br>
<div id="image-list">
<div ng-view></div></div></div>      
    
    

</div>

</body>
</html> 
