<form name="uploadForm" ng-controller = "queryCtrl">
    <input type="file" file-model="myFile" name="fileInput">
    <button ng-click="pages.current = 1; uploadFile();">Search!</button>
    <div  ng-show="done" ng-repeat="d in imageList">
        
        
    <h3>Image {{ d.title }}</h3>
        <div ng-show="!explore_var">
        <a ng-href="{{ d.image }}">
        <img ng-src="{{ d.image }}" width="200"></a><br/></div>
        
        <div ng-show="explore_var">      
        <img ng-click="pages.current = 1; explore(d.pk)" ng-src="{{ d.image }}" width="200"></a><br/></div>   
    
    </div>
    <div ng-hide="imageList" ng-include="'list_images.htm'"> </div>
    



<div ng-show="searching"><br><a ng-click="previousPage()" href="">Prev</a><span> </span><a href="" ng-click="nextPage()">Next</a>
    <p>
    <br>Current : {{ pages.current }}
    <br>Next : {{ pages.next }}
    <br>Last : {{ pages.last }}
    <br>Previous : {{ pages.previous }}</p>
    </div>
    
</form> 